In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('scrap page 1.csv')
df.head()

,Unnamed: 0,title,price,sold,condition,assurance,weight,seller,description
0,0,Buku mikrotik pemula terbaru Free ( Ebook Digi...,Rp5.000,NaN,Baru,Ya,100gr,Omviral Online Shop,Tutorial ini saya bagikan secara Free . adapun...
1,1,Buku Fundamental Of Python For Machine Learning,Rp45.000,NaN,Baru,Opsional,250gr,Buku ID,Penulis : Teguh Wahyono\nUkuran : 16 x 23 cm\n...
2,2,PEMROGRAMAN ANDROID DENGAN FLUTTER DAN DART + CD,Rp73.000,NaN,Baru,Ya,600gr,Belajar PHP,Pengarang : Budi Raharjo\nPenertbit : Informat...
3,3,Artificial Intelligence mengupas rekayasa kece...,Rp130.000,NaN,Baru,Ya,1000gr,Jovans Book Store,: Komputer (Teknik)\nISBN: 978-623-01-0293-6\n...
4,4,Buku sakti hacker Belajar Pemograman dan hacki...,Rp65.000,NaN,Baru,Opsional,300gr,ummunaylashop,Buku sakti hacker - Belajar Pemograman dan hac...

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   75 non-null     int64
 1   title        74 non-null     object
 2   price        74 non-null     object
 3   sold         0 non-null      float64
 4   condition    74 non-null     object
 5   assurance    74 non-null     object
 6   weight       74 non-null     object
 7   seller       74 non-null     object
 8   description  74 non-null     object
dtypes: float64(1), int64(1), object(7)
memory usage: 5.4+ KB

In [5]:
df.describe(include=['O'])

,title,price,condition,assurance,weight,seller,description
count,74,74,74,74,74,74,74
unique,68,50,1,2,45,16,68
top,PEMROGRAMAN ANDROID DENGAN FLUTTER DAN DART + CD,Rp78.800,Baru,Opsional,500gr,Gerai 212,Pengarang : Budi Raharjo\nPenertbit : Informat...
freq,2,5,74,67,7,26,2